input:disabled {
    background:  #ffd800;
    color: #00ff90;
}

input:disabled + label {
    color: #dadada;
}

.bandik-ext-title {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
}

.open-existing-work-item, .open-existing-work-item, #vss-bandik-extension, #vss-bandik-extension-config {
    margin: 20px;
}

.open-existing-work-item {
    margin: 10px 0px 10px 0px;
    background-color: #F9F9F9;
}

.work-item-types {
    width: 200px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
}

#existing-wit-id {
    border: 1px solid #DDD;
}

.existing-wit-text {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #000000;
}

.existing-wit-text-not {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #ff0000;
}

.selectFrame {
    overflow: hidden
}

.tasks_input_fields_container_part {
    max-height: 225px;
    width: 100%;
    overflow: auto;
}

.dialog {
    position: fixed;
    top: 10px;
    left: 10px;
    box-shadow: inset;
    border: 1px solid grey;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

@import "compass/css3";

.modal_tasks, .modal_teams, .modal_allOverlay { 
    display: none; 
    z-index: 40001; 
}

.modal_tasks, .modal_teams, .modal_allOverlay { 
    position: fixed !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: .99; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)"; 
    filter: alpha(opacity=99); 
    z-index: 40001;
}

.modal_tasks_vertical_offset, .modal_teams_vertical_offset { 
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 40002; 
}

.modal_tasks_box, .modal_teams_box { 
    width: 95%; 
    max-width: 95%;
    max-height: 450px;
    position: absolute;
    margin: auto;

    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

#modal_tasks_closeModal, #modal_teams_closeModal {
    position: absolute;
    top: -12px; 
    right: -12px;
    z-index: 50;
}

.modal_tasks_videoWrapper, .modal_teams_videoWrapper {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
}

.modal_tasks_videoWrapper iframe, modal_teams_videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
