
/*
    . = class 
    # = id
*/

.bandik-ext-title {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
}

.open-existing-work-item, .open-existing-work-item, #vss-bandik-extension, #vss-bandik-extension-config {
    margin: 20px;
}

.open-existing-work-item {
    margin: 10px 0px 10px 0px;
    background-color: #F9F9F9;
}

.work-item-types {
    width: 200px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
}

#existing-wit-id {
    border: 1px solid #DDD;
}

.existing-wit-text {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #000000;
}

.existing-wit-text-not {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #ff0000;
}

.selectFrame {
    overflow: hidden
}

.tasks_input_fields_container_part {
    height: 100px;
    width: 100%;
    overflow: auto;
}

.dialog {
    position: fixed;
    top: 10px;
    left: 10px;
    box-shadow: inset;
    border: 1px solid grey;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}



