
/*
    . = class 
    # = id
*/

.bandik-ext-title {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
}

.open-existing-work-item, .open-existing-work-item, #vss-bandik-extension, #vss-bandik-extension-config {
    margin: 20px;
}

.open-existing-work-item {
    margin: 10px 0px 10px 0px;
    background-color: #F9F9F9;
}

.work-item-types {
    width: 200px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
}

#existing-wit-id {
    border: 1px solid #DDD;
}

.existing-wit-text {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #000000;
}

.existing-wit-text-not {
    font-family: "Segoe UI VSS (Regular)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #ff0000;
}

.selectFrame {
    overflow: hidden
}

.tasks_input_fields_container_part {
    max-height: 225px;
    width: 100%;
    overflow: auto;
}

.dialog {
    position: fixed;
    top: 10px;
    left: 10px;
    box-shadow: inset;
    border: 1px solid grey;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

/*Final Croos brwoser tryout*/

@import "compass/css3";

.modal_tasks, .modal_teams, .modal_allOverlay { /* The div that shows/hides. */
    display: none; /* starts out hidden */
    z-index: 40001; /* High z-index to ensure it appears above all content */
}

.modal_tasks, .modal_teams, .modal_allOverlay { /* Shades out background when selector is active */
    position: fixed !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: .99; /* Sets opacity so it's partly transparent */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)"; /* IE transparency */
    filter: alpha(opacity=99); /* More IE transparency */
    z-index: 40001;
}

.modal_tasks_vertical_offset, .modal_teams_vertical_offset { /* Fixed position to provide the vertical offset */
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 40002; /* ensures box appears above overlay */
}

.modal_tasks_box, .modal_teams_box { /* The actual box, centered in the fixed-position div */
    width: 95%; /* Whatever width you want the box to be */
    max-width: 95%;
    max-height: 450px;
    position: absolute;
    margin: auto;
    /*Everything below is just visual styling */
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

/* close button */

#modal_tasks_closeModal, #modal_teams_closeModal {
    position: absolute;
    top: -12px; /* Half the icon's height */
    right: -12px; /* half the icon's width */
    z-index: 50;
}

.modal_tasks_videoWrapper, .modal_teams_videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .modal_tasks_videoWrapper iframe, modal_teams_videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
/*//////////////////////////*/
/*BROWSERSAFE MODAL TRYOUT*/
/*.modal {
    display: block;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}*/

